body {
    font-family: Poppins, sans-serif;
    background: #f5f5f5;
    padding: 40px;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* divisão esquerda e direita */
#layout {
    display: flex;
    width: 90%;
    max-width: 1300px;
    gap: 40px;
}

/* lado esquerdo -> mesas disponíveis */
#lado-esquerdo {
    flex: 2;
}

/* lado direito -> formulário de reservas */
#lado-direito {
    flex: 1.5;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.mesa-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #ff69b4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ff1493;
}

#form-reserva {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#form-reserva label {
    font-weight: 500;
}

#form-reserva input,
#form-reserva select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Poppins, sans-serif;
}

#form-reserva button {
    margin-top: 12px;
    padding: 10px;
    background: #ff69b4;
    border-radius: 8px;
}

#form-reserva button:hover {
    background: #ff1493;
}

.mensagem {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}